.footer-bar
{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    text-align: center;
    height: 7%;
    font-family: "Rockwell";
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
    line-height: 5%;
}