.navBar
{

}

.navBar ul
{
    width: 50%;
    margin: auto;
}
.navBar li
{
    list-style-type: none;
    width: 20%;
    text-align: center;
    display: inline-block;
    color: #ffffff;
    line-height: 120px;
    font-family: Rockwell;
    font-size: 25px;
    text-shadow: 1px 1px 2px black;
}